%head
  %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
  %meta{:name => "lang", :content => "en"}
  %title=SITE_TITLE
  %link{:href=>'/stylesheets/screen.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
  
  /[if lt IE 9]
    %script{src: '//html5shiv.googlecode.com/svn/trunk/html5.js'}

  %meta{:property => "og:site_name", :content => "#{SITE_TITLE}"}
  %meta{:property => "og:type", :content => "#{APP_TYPE}"}
  %meta{:property => "og:title", :content => "#{PAGE_TITLE}"}
  %meta{:property => "og:url", :content => "#{SITE_URL}"}
  %meta{:property => "fb:admins", :content => "#{APP_ADMINS}"}

  - if USE_ANALYTICS
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', "#{GOOGLE_ANALYTIC_ID}"]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
